
    RegistroPersona<link rel="import" href="../../bower_components/polymer/polymer-element.html">
    RegistroPersona<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    Access-Control-Allow-Origin:*

    <dom-module id="registro-persona">
      <template>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->

        <style>
          :host {
            display: block;
          }
        </style>
        <!-- <header-logo hidden={{!registroExitoso}}></header-logo> -->
        <!-- <center>
          <a href="https://www.bbva.mx/personas/productos/creditos/prestamos-personales/prestamo-personal-inmediato.html">
              <img src="src/imagenes/logo_bbva_blanco.svg" style="height: 40px; position:absolute;
              width: auto;" alt="BBVA México" title="BBVA México">
          </a>
        </center> -->

        <div hidden="{{!registroExitoso}}" class="container" style="margin-top: 150px;"style="margin-left: 45%;">
          <center>
            <div style="margin-top: 100px;" >
              INGRESA NOMBRE <input type="text" value="{{nombre::input}}" />
              <br />
              <br />
              INGRESA CURP <input type="text" value="{{curp::input}}" />
              <br />
              <br />
              INGRESA DIRECCION <input type="text" value="{{direccion::input}}" />
              <br />
              <br />
              INGRESA TELEFONO <input type="text" value="{{telefono::input}}" />
              <br />
              <br />
              INGRESA  NO. TARJETA <input type="text" value="{{cuenta::input}}" />
              <br />
              <br />
              INGRESA CORREO <input type="email" value="{{email::input}}" />
              <br />
              <br />
              INGRESA CONTRASEÑA <input type="password" value="{{password::input}}"/>
              <br />
              <br />
              CONFIRMAR CONTRASEÑA <input type="password" value="{{confirmarpassword::input}}"/>
              <br />
              <br />
              <button on-Click="registrate" style="background: rgb(134,200,45);">Confirmar</button>
              <!-- <button on-Click="volverLoginSinRegistro" style="background: rgb(134,200,45);">Volver al login</button> -->
            </div>
          </center>


        </div>
        <center>
          <div  hidden={{!logado}} style="margin-top: 150px;"style="margin-left: 45%;">
          <h1>BIENVENIDA(a) A LA APP DE BBVA</h1>
          <br>
          <!-- <button on-Click="volverLogin" style="background: rgb(134,200,45);">Volver al login</button> -->
        </div>
        </center>

      <!-- <login-app hidden={{!returnLogin}}></login-app> -->

        <iron-ajax
          id="doRegistro"
          url="http://localhost:3000/registrado"
          Content-Type="application/json"
          crossDomain: true
          dataType: 'jsonp'
          method = "POST"
          handle-as = "json"
          headers = "Access-Control-Allow-Headers: *"
          on-response = "manageAJAXResponse"
          on-error = "showError">

      </template>

      <script>
        /**
         * @customElement
         * @polymer
         */
        class RegistroPersona extends Polymer.Element {
          static get is() { return 'registro-persona'; }
          static get properties() {
            return {
              nombre: {
                type: String
              },
              curp: {
                type: String
              },
              direccion: {
                type: String
              },
              telefono: {
                type: String
              },
              cuenta: {
                type: String
              },
              email: {
                type: String
              },
              password: {
                type: String
              },
              logado: {
                type: Boolean,
                value: false
              },
              registroExitoso: {
                type: Boolean,
                value: true
              },
              returnLogin: {
                type: Boolean,
                value: false
              }
            };
          }

          registrate(){
            if(this.password == this.confirmarpassword){
              var registroData = {
                "nombre" : this.nombre,
                "curp" : this.curp,
                "direccion" : this.direccion,
                "telefono" : this.telefono,
                "cuenta" : this.cuenta,
                "email" : this.email,
                "password" : this.password
              };
              console.log(registroData);
              this.$.doRegistro.body = JSON.stringify(registroData);
              this.$.doRegistro.generateRequest();
              console.log("Petición enviada");
              console.log(JSON.stringify(registroData));
            }
            else{

            }
           }
           volverLogin(){
             this.logado = false;
             this.returnLogin = true;
           }
           volverLoginSinRegistro(){
              this.registroExitoso = false;
              this.logado = false;
               this.returnLogin = true;
           }
           manageAJAXResponse(){
             console.log("Respuesta recibida del servicio api rest apimx20201");
            //  console.log(data.detail.response);
             this.logado = true;
             this.registroExitoso = false;
           }
           showError(){
             console.log("Hubo un error en iron-ajax");
             this.logado = false;
             alert("Datos ingresados incorectos, por favor valide");
             console.log(error);

           }
        }


        window.customElements.define(RegistroPersona.is, RegistroPersona);
      </script>
    </dom-module>
