LoginApp<link rel="import" href="../../bower_components/polymer/polymer-element.html">
LoginApp<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

Access-Control-Allow-Origin:*

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
    <header-logo  ></header-logo>
    <center>
      <a href="https://www.bbva.mx/personas/productos/creditos/prestamos-personales/prestamo-personal-inmediato.html">
          <img src="src/imagenes/logo_bbva_blanco.svg" style="height: 40px; position:absolute;
          width: auto;" alt="BBVA México" title="BBVA México">
      </a>
    </center>
      <div hidden={{!logado}}  style="margin-top: 17px;">
        <button on-Click="cerrarSesion" style="background: rgb(134,200,45); position:absolute;">Cerrar Sesión</button>
      </div>


    <div hidden={{!logadotoken}} class="container" style="margin-top: 150px;"style="margin-left: 45%;">

      <center>
      <div >
        <h1>Ingreso a la app</h1>
        </div>
        <br />
        <div >
        Email: <input type="email" value="{{email::input}}" style="width: 400px" />
        </div>
        <br />
        <div >
        Password: <input type="password" value="{{password::input}}" />
        </div>
        <br />
        <div >
        <button on-Click="login" name="button" class="btn btn-success" style="background: rgb(134,200,45);">Login</button>
        </div>
        <div >
          <br />
        <button on-Click="registrar" name="btnRegistro" class="btn btn-success" style="background: rgb(134,200,45);">Registrate</button>
        </div>
      </center>


    </div>
    <div  hidden={{!logado}}>
    <token-app loginemail="{{email::input}}"></token-app>
  </div>
  <div  hidden={{!registro}}>
  <registro-persona></registro-persona>
  <center>
    <button type="button" name="vuelveregistra" on-Click="regreasalogin" style="background: rgb(134,200,45);">Volver</button>
  </center>

</div>
<div>

</div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      Content-Type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          logadotoken: {
            type: Boolean,
            value: true
          },
          registro: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
        console.log(JSON.stringify(loginData));

       }
       cerrarSesion(){
         this.email="";
         this.password="";
         this.logado=false;
         this.logadotoken=true;
         this.registro=false;
       }
       regreasalogin(){
         this.email="";
         this.password="";
         this.logado=false;
         this.logadotoken=true;
         this.registro=false;
       }
       registrar(){
         this.logadotoken = false;
         this.logado = false;
         this.registro = true;
       }
       manageAJAXResponse(){
         console.log("Respuesta recibida del servicio api rest apimx20201");
        //  console.log(data.detail.response);
         this.logado = true;
         this.logadotoken = false;
       }
       showError(){
         console.log("Hubo un error en iron-ajax");
         this.logado = false;
         alert("Datos ingresados incorectos, por favor valide");
         console.log(error);

       }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
