LoginApp<link rel="import" href="../../bower_components/polymer/polymer-element.html">
LoginApp<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

Access-Control-Allow-Origin:*

<dom-module id="pagina-inicio">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>

    <div hidden={{!inicio}} class="container" style="margin-top: 100px;"style="margin-left: 45%;">
      <h3>USUARIO:
      <div>
        <input type="text" value="{{loginemail}}" style="width: 550px; ; border: 0;" readonly/>
      </div>
      </h3>
      <div  class="container" style="margin-top: 150px;"style="margin-left: 45%;">
        <center>
          <h1>BIENVENIDO AL PORTAL</h1>
          <br />
          <br />
          <br />
          <button on-Click="registrar" class="btn btn-success" style="background: #52BCEC; font-size: 50px;" >OBTEN TU PRESTAMO</button>
          <br />
            <button on-Click="sucursales" class="btn btn-success" style="background: #52BCEC; font-size: 50px;" >UBICACIONES SUCURSALES</button>
          <br />
        </center>
      </div>
    </div>
      <div hidden={{!calcular}}>
        <calcula-app loginemail={{loginemail}}></calcula-app>
        <center>
          <button on-Click="volverpaginaprincipal" class="btn btn-success" style="background:  rgb(134,200,45);" >Volver</button>
        </center>
      </div>
<div hidden={{!sucursal}}>
  <consulta-atm></consulta-atm>
    <button on-Click="volverpaginaprincipal" class="btn btn-success" style="background:  rgb(134,200,45);" >Volver</button>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PaginaInicio extends Polymer.Element {
      static get is() { return 'pagina-inicio'; }
      static get properties() {
        return {
          inicio: {
            type: Boolean,
            value: true
          },
          calcular: {
            type: Boolean,
            value: false
          },
          sucursal:{
            type: Boolean,
            value:false
          },
          returnlogin:{
            type:Boolean,
            value:false
          },
          loginemail: {
            type: String
          }
        };
      }

      sucursales(){
        this.sucursal=true;
        this.inicio=false;
      }
      volverpaginaprincipal(){
        this.inicio=true;
        this.calcular =false;
        this.sucursal=false;
      }
      registrar(){
        this.inicio = false;
        console.log("funcion calcular boton: " + this.calcular);
        this.calcular = true;
        console.log("funcion calcular boton: " + this.calcular);
      }


    }

    window.customElements.define(PaginaInicio.is, PaginaInicio);
  </script>
</dom-module>
