<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

Access-Control-Allow-Origin:*
<dom-module id="consulta-atm">
<template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <style>
    :host {
      display: block;
    }
  </style>

  <div hidden="{{!actual}}" class="container" style="margin-top: 150px">
    <div class="row">
      <h2>Gestor de ATM</h2>
      <button type="button" on-click="obtenerCajeros" style="background:  rgb(134,200,45);" class="btn btn-primary">Obtener cajeros</button>

    </div>
    <center>
    <div class="row">
      <table class="table table-striped">
      <!-- <table class="table table-striped col-lg-12 col-xs-12"> -->
        <tbody>
          <template is="dom-repeat" items="{{cajeros}}">
            <tr>
            <td>[[item.Identification]]</td>
            <td>[[item.Location.PostalAddress.AddressLine]]</td>
              <td>[[item.Location.PostalAddress.PostCode]]</td>
                  <td>[[item.Location.Site.Name]]</td>

            </tr>
          </template>
        </tbody>
      </table>
    </div>
    </center>
  </div>

    </div>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class GestorCajeros extends Polymer.Element {
    static get is() { return 'consulta-atm'; }
    static get properties() {
      return {
        cajeros: {
          type: Array,
          notify: true
        },
        actual: {
          type:Boolean,
          value: true
        },
        regreso: {
          type:Boolean,
          value: false
        }
      };
    }
   obtenerCajeros(){
     var request = new XMLHttpRequest();
     request.open("GET","https://api.mlab.com/api/1/databases/acorona/collections/Cajeros?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt",false);
     request.setRequestHeader("Accept","application/json");
     request.send();
     this.cajeros = JSON.parse(request.responseText);
     console.log(this.cajeros);
     console.log(this.cajeros);
    }

}

  window.customElements.define(GestorCajeros.is, GestorCajeros);


</script>
</dom-module>
